

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.app-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow: hidden;
}


.lol-box {
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  perspective: 500px;
  overflow: hidden;
  perspective-origin: 10% 10%;
  width: 4000px;
  height: 4000px;
  transform: translateZ(-1000px) rotateX(10deg) rotateZ(10deg);


  background-image: url("http://www.6m5m.com/data/uploads/2015/06/01/18872556c6ba2166a2.jpg");
  background-repeat: repeat;

}


